backend: 
  name: github
  repo: billy-park/blog

media_folder: static/assets
public_folder: /assets

collections:
  - name: post
    label: Posts
    folder: src/posts
    create: true
    fields: 
      - { name: title, label: Title }
      - { name: date, label: Date Created, widget: date }
      - { name: body, label: Post, widget: markdown }
      #- { name: image, label: Image, widget: image, required: false }